header{
    nav{
        .barraDesktop{
       a{
        font-family:'Raleway', sans-serif; 
        font-size: large;
        margin: 15px
        }
    }
}
    main{
        .carousel-texto{
            font-family: 'Raleway', sans-serif;
            color: white;
            background-color: black;
            text-align: center;
            font-style: italic;
        }
        p{
            text-align: center;
            font-family: 'Jost', sans-serif;
            font-size: 1.6rem;
            margin: 15px;
        }
    }
   
    h3{
        h4{
            font-family: 'Jost', sans-serif;
            margin: 15px;
        }
    }
    
    .productos{
        background-color:   black;
        padding: 70px;
        .card-text{
            background-color: #f7789a;
        }
    
    }
    @media screen and (max-width: 480px){
        .barraDesktop ul{
            display: none;
        }
        .barraMobile{
            display: flex;
            text-align: center;
            flex-direction: column;
            font-family: 'Hind', sans-serif; 
            background-color: white;
            padding: 1rem;
            padding: 0 20px;
            color: black; 
            text-decoration: none; 
            text-transform: uppercase; 
            font:bold 10px;
        }
        .barraMobile ul{
            display: flex;
            flex-direction: row;
            justify-content: space-around;
        }
    }
    @media screen and (max-width: 768px){
        .barraDesktop ul{
            display: none;
        }
        .barraMobile{
            display: flex;
            flex-direction: column;
            text-align: center;
            font-family: 'Hind', sans-serif;
            background-color: white;
            padding: 1rem;
            padding: 0 20px;
            color: black;
            text-decoration: none;
            text-transform: uppercase;
            font: bold 10px;
        }
        .barraMobile ul{
            display: flex;
            flex-direction: row;
            justify-content: space-around;
        }
    }
        
}
