footer{
    font-family: $fontFour;
    color: black;
background-color:map-get($footer, bg-color ) ;
padding: 50px;
.grupo-1{
    width: 100%;
margin: auto;
display: grid;
grid-template-columns: repeat(3,1fr);
grid-gap: 50px;
}
.box{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
   
    li{
        list-style: none;
    }
}
        a{
            display: inline-block;
            text-decoration: none;
            text-align: center;
            color: black;
            width: 55px;
            font-size: larger;
            &:hover{
                color: $hoverOne;
            }
            
        }
}
