%display{
    display: flex;
    justify-content: center;
    align-items: center;
}
%titulo-style{
    color: white;
    background-color: black;
    text-align: center;
    font-style: italic; 
    font-family: $fontOne;
    text-decoration: none;

}
